# Node / pnpm
node_modules
.pnpm-store

# Build output
dist

# Environment files
.env
.jwt
.env.*

# Logs
npm-debug.log*
pnpm-debug.log*

# OS / Editor
.DS_Store
.idea
.vscode

# Docker
.dockerignore

