services:
  api:
    build:
      context: .
      dockerfile: Dockerfile.dev
    command: pnpm dev
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - node_modules:/app/node_modules
    environment:
      CHOKIDAR_USEPOLLING: "true"

volumes:
  node_modules:

